<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background</key>
	<dict>
		<key>file</key>
		<string>background</string>
		<key>type</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>0</integer>
		<key>anchorY</key>
		<integer>0</integer>
	</dict>
	<key>character</key>
	<dict>
		<key>file</key>
		<string>character</string>
		<key>type</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>7</integer>
		<key>anchorY</key>
		<integer>12</integer>
	</dict>
</dict>
</plist>
