<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>background</key>
	<dict>
		<key>type</key>
		<string>tiling</string>
		<key>file</key>
		<string>background</string>
		<key>extension</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>0</integer>
		<key>anchorY</key>
		<integer>0</integer>
	</dict>
	<key>character</key>
	<dict>
		<key>type</key>
		<string>status</string>
		<key>statuses</key>
		<dict>
			<key>idle_s</key>
			<dict>
				<key>file</key>
				<string>character</string>
				<key>extension</key>
				<string>png</string>
				<key>anchorX</key>
				<integer>7</integer>
				<key>anchorY</key>
				<integer>12</integer>
			</dict>
			<key>idle_n</key>
			<dict>
				<key>file</key>
				<string>character</string>
				<key>extension</key>
				<string>png</string>
				<key>anchorX</key>
				<integer>7</integer>
				<key>anchorY</key>
				<integer>12</integer>
			</dict>
			<key>idle_e</key>
			<dict>
				<key>file</key>
				<string>character</string>
				<key>extension</key>
				<string>png</string>
				<key>anchorX</key>
				<integer>7</integer>
				<key>anchorY</key>
				<integer>12</integer>
			</dict>
			<key>idle_w</key>
			<dict>
				<key>file</key>
				<string>character</string>
				<key>extension</key>
				<string>png</string>
				<key>anchorX</key>
				<integer>7</integer>
				<key>anchorY</key>
				<integer>12</integer>
			</dict>
			<key>idle_se</key>
			<dict>
				<key>file</key>
				<string>character</string>
				<key>extension</key>
				<string>png</string>
				<key>anchorX</key>
				<integer>7</integer>
				<key>anchorY</key>
				<integer>12</integer>
			</dict>
			<key>idle_sw</key>
			<dict>
				<key>file</key>
				<string>character</string>
				<key>extension</key>
				<string>png</string>
				<key>anchorX</key>
				<integer>7</integer>
				<key>anchorY</key>
				<integer>12</integer>
			</dict>
			<key>idle_ne</key>
			<dict>
				<key>file</key>
				<string>character</string>
				<key>extension</key>
				<string>png</string>
				<key>anchorX</key>
				<integer>7</integer>
				<key>anchorY</key>
				<integer>12</integer>
			</dict>
			<key>idle_nw</key>
			<dict>
				<key>file</key>
				<string>character</string>
				<key>extension</key>
				<string>png</string>
				<key>anchorX</key>
				<integer>7</integer>
				<key>anchorY</key>
				<integer>12</integer>
			</dict>
			<key>walking_s</key>
			<dict>
				<key>file</key>
				<string>character</string>
				<key>extension</key>
				<string>png</string>
				<key>anchorX</key>
				<integer>7</integer>
				<key>anchorY</key>
				<integer>12</integer>
			</dict>
			<key>walking_n</key>
			<dict>
				<key>file</key>
				<string>character</string>
				<key>extension</key>
				<string>png</string>
				<key>anchorX</key>
				<integer>7</integer>
				<key>anchorY</key>
				<integer>12</integer>
			</dict>
			<key>walking_e</key>
			<dict>
				<key>file</key>
				<string>character</string>
				<key>extension</key>
				<string>png</string>
				<key>anchorX</key>
				<integer>7</integer>
				<key>anchorY</key>
				<integer>12</integer>
			</dict>
			<key>walking_w</key>
			<dict>
				<key>file</key>
				<string>character</string>
				<key>extension</key>
				<string>png</string>
				<key>anchorX</key>
				<integer>7</integer>
				<key>anchorY</key>
				<integer>12</integer>
			</dict>
			<key>walking_se</key>
			<dict>
				<key>file</key>
				<string>character</string>
				<key>extension</key>
				<string>png</string>
				<key>anchorX</key>
				<integer>7</integer>
				<key>anchorY</key>
				<integer>12</integer>
			</dict>
			<key>walking_sw</key>
			<dict>
				<key>file</key>
				<string>character</string>
				<key>extension</key>
				<string>png</string>
				<key>anchorX</key>
				<integer>7</integer>
				<key>anchorY</key>
				<integer>12</integer>
			</dict>
			<key>walking_ne</key>
			<dict>
				<key>file</key>
				<string>character</string>
				<key>extension</key>
				<string>png</string>
				<key>anchorX</key>
				<integer>7</integer>
				<key>anchorY</key>
				<integer>12</integer>
			</dict>
			<key>walking_nw</key>
			<dict>
				<key>file</key>
				<string>character</string>
				<key>extension</key>
				<string>png</string>
				<key>anchorX</key>
				<integer>7</integer>
				<key>anchorY</key>
				<integer>12</integer>
			</dict>
		</dict>
	</dict>
	<key>temple</key>
	<dict>
		<key>file</key>
		<string>temple</string>
		<key>extension</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>64</integer>
		<key>anchorY</key>
		<integer>64</integer>
	</dict>
	<key>tree1</key>
	<dict>
		<key>file</key>
		<string>trees</string>
		<key>extension</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>32</integer>
		<key>anchorY</key>
		<integer>48</integer>
		<key>crop</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
	<key>tree2</key>
	<dict>
		<key>file</key>
		<string>trees</string>
		<key>extension</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>32</integer>
		<key>anchorY</key>
		<integer>48</integer>
		<key>crop</key>
		<dict>
			<key>x</key>
			<integer>40</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
	<key>tree3</key>
	<dict>
		<key>file</key>
		<string>trees</string>
		<key>extension</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>32</integer>
		<key>anchorY</key>
		<integer>48</integer>
		<key>crop</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
	<key>tree4</key>
	<dict>
		<key>file</key>
		<string>trees</string>
		<key>extension</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>32</integer>
		<key>anchorY</key>
		<integer>48</integer>
		<key>crop</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
	<key>tree5</key>
	<dict>
		<key>file</key>
		<string>trees</string>
		<key>extension</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>32</integer>
		<key>anchorY</key>
		<integer>48</integer>
		<key>crop</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
	<key>tree6</key>
	<dict>
		<key>file</key>
		<string>trees</string>
		<key>extension</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>32</integer>
		<key>anchorY</key>
		<integer>48</integer>
		<key>crop</key>
		<dict>
			<key>x</key>
			<integer>40</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
	<key>tree7</key>
	<dict>
		<key>file</key>
		<string>trees</string>
		<key>extension</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>32</integer>
		<key>anchorY</key>
		<integer>48</integer>
		<key>crop</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
	<key>tree8</key>
	<dict>
		<key>file</key>
		<string>trees</string>
		<key>extension</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>32</integer>
		<key>anchorY</key>
		<integer>48</integer>
		<key>crop</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>64</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
	<key>tree9</key>
	<dict>
		<key>file</key>
		<string>trees</string>
		<key>extension</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>32</integer>
		<key>anchorY</key>
		<integer>48</integer>
		<key>crop</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
	<key>tree10</key>
	<dict>
		<key>file</key>
		<string>trees</string>
		<key>extension</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>32</integer>
		<key>anchorY</key>
		<integer>48</integer>
		<key>crop</key>
		<dict>
			<key>x</key>
			<integer>40</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
	<key>tree11</key>
	<dict>
		<key>file</key>
		<string>trees</string>
		<key>extension</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>32</integer>
		<key>anchorY</key>
		<integer>48</integer>
		<key>crop</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
	<key>tree12</key>
	<dict>
		<key>file</key>
		<string>trees</string>
		<key>extension</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>32</integer>
		<key>anchorY</key>
		<integer>48</integer>
		<key>crop</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>128</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>64</integer>
		</dict>
	</dict>
	<key>bush</key>
	<dict>
		<key>file</key>
		<string>bushes</string>
		<key>extension</key>
		<string>png</string>
		<key>anchorX</key>
		<integer>16</integer>
		<key>anchorY</key>
		<integer>24</integer>
	</dict>
</dict>
</plist>
